// Profile Block

.profile-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;

    height: auto;
  }
  .profile-lottie{
    position: relative;
    display: flex;
    height: auto;
    aspect-ratio: 1;
    width: 100%;
  }
  .profile-pic{
    position: relative;
    display: flex;
    height: auto;
  
  }
  
  .block-profile-visible{
    position: fixed;
    
  }
  .block-profile-not-visible{
    position: relative;
    visibility: hidden;
  }
  
  .body{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
  }
  
  // HR BLOCK
  
  .hr-1-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hr-1{
    width: 70%;
    margin: auto;
    border-width: 1px;
    border-radius: 3px;
  }
  
  
  
  
  // NAVBAR BLOCK

  .navbar-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 6rem;
    margin: auto;
    // gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .navitem{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  
  }
  
  .navbar-bar{
    position: absolute;
    display: flex;
    width: 33.33%;
    height: 100%;
    background-color: aliceblue;
    mix-blend-mode: difference;
    z-index: 2;
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  
  .navbar-bar-developer{
    transform: translateX(-100%);
  }
  .navbar-bar-contact{
    transform: translateX(0%);
  }
  .navbar-bar-motion{
    transform: translateX(100%);
  }
  
  // Service Component
  
  .service-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .service-list li{
    position: relative;
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
  }
  .service-list li:hover {
    color: black;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    scale: 1.2;
  }
  
  // Contact Form
  

  
  // About
  
 
  
  // background

  
  // Featured work
  
  .feature-master-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 3rem;
    justify-content: center;
    margin: auto;
  }
  .feature-title{
    color: #F4F4F4;
    text-align: center;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    margin-bottom: 2rem;
  }
  
  .feature-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  
  

  
  .feature-name-featured{
  
    position: relative;
    display: flex;
    text-align: center;
    margin: auto;
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  
  }
  .feature-name{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  // Portfolio
  
  .portafolio-container{
    display: grid;
    justify-content: center;
    height: auto;
    flex-direction: none;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
  
  // Show More Button
  .learnmore-master-container{
  
    font-family: var(--font-main);
    font-size: var(--font-size-accent);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
  
    a{
        // text-decoration: none;
        color: whitesmoke;
        margin-bottom: 1rem;
        
    }
    a:hover{
      color: whitesmoke;
      margin-bottom: 1rem;
      text-decoration: underline;
  
  }
  }
  
  .showmore-button {
  
    color: whitesmoke;
    background-color: black;
    height: 3.4prem;
    width: 90%;
    border: solid 1px;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .showmore-button:hover {
    color: black;
    background-color: whitesmoke;
  }

  .showmore-content{
    transition: all 0.4s ease-in-out;

  }
  .transition{
    transition: all 0.5s ease;
  }
  .show {
    height: 200px;
    padding: 0rem 0 0rem 0 ;

  }
  
  .hide {
    height: 0px !important;
  }
  
  
  // Video Player
  


  
  // MOTION BLOCK
  
  .motion-nav-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  
    width: 80%;
    height: 4rem;
    border: 2px solid;
    border-radius: 3px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
  }
  .motion-nav-bar{
  position: absolute;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  z-index: 1;
  mix-blend-mode: difference;
  transition: all 0.2s ease-in-out;
  }
  .motion-nav-bar-single{
    transform: translateX(-50%);
  }
  .motion-nav-bar-episode{
    transform: translateX(50%);
  }
  .motion-nav-item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  // singles
  
  .singles-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 0 1rem 0 1rem;
  }
  .singlespost-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  .singlepost-hover{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: black;
    z-index: 2;
  }
  .singlepost-hover:hover{
    opacity: 0.7;
    cursor: pointer;
    // filter: blur(5px);
  }
  .singlepost-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  // episodes
  
  